node_modules
.tmp
.sass-cache
.idea
app/bower_components
bower_components
*.iml
debug.coffee
deploy-test.bat
.temp/
config/config.private.yaml
app/**/*.css
Gemfile.lock
app/**/*.js
app/**/*.map
config/**/*.js
config/**/*.map
